# Python
venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
.next/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Local data & index store
backend/data/index_store/

